<div class="header flex-row">
  <nav class="nav-menu">
    <a href="/">Home</a>
    <a href="/catalog">Book Catalog</a>
    <a href="/catalog/books">All Books</a>
    <a href="/catalog/bookinstances">Book Availabliity</a>
    <a href="/catalog/authors">Authors</a>
    <a href="/catalog/genres">Genres</a>
    <a href="book/create">Create A Book</a>
    <a href="#">Placeholder for Now</a>
  </nav>
</div>