<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="bg-red-100 text-4xl">
    <%- include('./partials/navHeader.ejs') %>
    <h1 class="text-4xl my-4""><%= title %></h1>
    <p class="text-4xl">Welcome to <%= title %></p>
  </body>
</html>