<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="bg-red-100 text-4xl">
    <%- include('./partials/navHeader.ejs') %>
    <h1 class="text-4xl my-4""><%= title %></h1>
    <p class="text-4xl">Welcome to <%= title %></p>

    <h2>Use the form below to create a Genre!</h2>


    <form action="/genre/create" method="post">
      <label for="name">Genre:</label>
      <input 
        type="text" 
        id="name" 
        class="form-control" 
        placeholder="Fantasy, Poetry, etc." 
        required 
        value="<% if (genre == undefined) return '' %>">
        <button type="submit">Submit</button>
    </form>
   
  </body>
</html>