@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 6rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 20px 0;
}
.nav-menu a {
  color: #000;
}

.nav-menu a:hover {
  color: #2100fb;
  text-decoration: underline;
}

.book-available {
  font-weight: 800;
}

.flex-column {
  flex-direction: column;
}

.padding-custom {
  padding: 2% 1%;
}

.book-details-page h1,
.book-details-page h2 {
  font-size: 2rem;
}

.book-details-page h2 {
  margin-bottom: 25px;
}

.book-details-page p {
  width: 750px;
  margin-bottom: 25px;
}

.book-details-page .genre-heading,
.book-details-page .in-stock {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.book-details-page li {
  font-size: 1.1rem;
  margin-bottom: 3px;
}

.copies-in-stock {
  margin: 10px 0;
}

